html, body {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 17px;
	font-weight: 300;
	line-height: 1.6em;
	margin: 0;
	height: 100%;
    background: url("https://mozorg.cdn.mozilla.net/media/img/sandstone/bg-gradient-sand.26ec6264163e.png") repeat-x,url("https://mozorg.cdn.mozilla.net/media/img/sandstone/bg-sand.5f2ca98ac180.png") repeat,#f5f1e8;
}

h1, h2, h3 {
	font-weight: 300;
}

h1 {
	padding-left: 15px;
	padding-bottom: 30px;
}

h2, h3 {
	margin-top: 0;
	padding-bottom: 20px;
}
.container { width: 90%; }

.center { text-align: center; }

.maroon { color: #991b1e; }

.font-sm { font-size: 0.7em; }

.font-md { font-size: 1em; }

.font-lg { font-size: 1.5em; }

.bold {
	font-weight: 500;
}

.button-group {
    list-style: none;
    margin: 0;
    left: 0;
    padding: 0;
    -webkit-appearance: none;
}

.button-group li {
	display: inline-block;
	float: left;
	border: 1px solid #800205;
	box-sizing: border-box;
	padding: 3px 12px;
	background: #cd4f52;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.button-group li:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	white-space: nowrap;
	border-right: none;	
}

.button-group li:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	white-space: nowrap;
	border-left: none;
}

.button-group li:hover {
	background: #991b1e;
}

.button-group li a {
	padding: 0.5em;
	color: white;
}

.button-group li a:hover {
	text-decoration: none;
}

.navbar-brand, .jumbotron, .jumbotron > h2, h1, h2 {
	text-shadow: 0 1px 0 rgba(255,255,255,0.75);
	color: #484848;
}

.list-group-item, .jumbotron {
	background-color: transparent; 
}

.wrapper {
	background:#f5f1e8 url("https://mozorg.cdn.mozilla.net/media/img/sandstone/bg-gradient-sand.26ec6264163e.png") cover;
	min-height: 100%;
	padding-bottom: 30px;
	margin-bottom: -120px; /* the bottom margin is the negative value of the footer's height */
}

.wrapper:after {
  content: "";
  display: block;
}

footer, .push, .wrapper:after  {
	height: 120px; /* '.push' must be the same height as 'footer' */
}

footer {
	padding: 0;
	padding-top: 50px;
	border-top: 1px solid #991b1e;
}


.navbar-default {
	background:#f5f1e8 url("https://mozorg.cdn.mozilla.net/media/img/sandstone/bg-gradient-sand.26ec6264163e.png") repeat-x;
	border: none;
	border-bottom: 2px solid #991b1e;
}

.navbar-brand {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.next {
	padding: 4px 18px 4px 10px;
}

.prev {
	padding: 4px 10px 4px 18px;
}

.bottom-shadow {
	width: 100%;
	float: left;
    padding-bottom: 60px;
    margin-bottom: 40px;
    background-image: url("../images/shadow-divider.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.rpv-img {
	max-width: 100%;
}

.alternate-img {
	max-height: 300px;
}

.logo-vertical {
	max-height: 165px;
	padding: 5px;
	margin: 5px;
}

#subnav {
    position: absolute;
    top: 32px;
    right: 1em;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1rem;
    line-height: 20px;
}

@media screen and (max-width: 768px) {
    #subnav {
        top: -1em;
    }
}

/* Sidebar */

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
	background-color: rgba(255,  255,255, .1);
	border: none;
	color: #484848;
}

a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
	background-color: rgba(255,  255,255, .1);
}

.toc {
	position: absolute;
	margin-top: -20px;
	margin-left: 1em;
}

#sidebar {
	opacity: .5;
}

#sidebar:hover {
	opacity: 1;
}


/* welcome */

.cms h1 {
	font-size: 63px;
}

/* introduction */

.email-sample {
	background: rgba(255, 255, 255, .4);
	padding: 2em;
}

.email-sample h2, .email-sample p{
	color: #991b1e;
	font-size: 1.4em;
	font-size: 1.2vw;
	font-weight: 500;
}

.email-sample span {
	color: #4f91cd;
}

/*	RAVN branding 	*/


.ravn-email-img img, .ravn-capital-img img {
	padding-top: 3em;
}

/*colors*/

.color-box {
	width: 100%;
	height: 100px;
	display: block;
	border: 7px solid white;
	//border-top-right-radius: 50%; 
}

.main-color-box {
	width: 100%;
	height: 100px;
	display: block;
	border: 7px solid white;
	margin: 0 auto;
}

.color-code {
	font-size: 0.8em;
}

/*typography*/

.big-font li {
	font-size: 6em;
	color: #991b1e;
	list-style: none;
	line-height: 1.15em;
	text-transform: uppercase;
}

.neue-bold, .neue-regular {
	font-size: 2em;
	color: #991b1e;
	line-height: 1.15;
}

@media screen and (max-width: 768px) {

	.big-font li {
		font-size: 4em;
		margin-left: -.8em;
	}

	.neue-bold, .neue-regular {
		font-size: 1em;
	}
}

.neue-bold {
	font-weight: bold;
}
